.container__first{
    padding : 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-text-color);
}

.clock{
    color: var(--background-color);
    font-size : 35px;
    padding: 0;
}
