.container__seconds{
    display: flex;
    justify-content: space-between;
}

.container__seconds__column2 h3{
    font-size: 25px;
    color : var(--main-text-color);
    margin: 5px;
}

.container__seconds__column2 img{
    width: 300px;
    height: 300px;
}

.container__seconds__column1, .container__seconds__column2{
    border : 8px solid var(--main-text-color);
    width: 550px;
    margin : 25px;
    text-align : center;
    margin: 10px 0px;
}


*:focus{
    outline: none;
}

.todo-form input {
    margin: 10px;
    border : none;
    width: 400px;
    text-align : center;
    border-bottom: 2px solid var(--main-text-color);
    background : none;
    font-size: 25px;
    color : var(--main-text-color);
}

.todo-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

.todo-list li{
    list-style: none;
    font-size: 25px;
    color: var(--gray-text);
}

.todo-list button{
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
    background : none;
    cursor: pointer;
}