.container__first{
    padding : 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-text-color);
}

.clock{
    color: var(--background-color);
    font-size : 40px;
    padding: 0;
}

.weather{
    color: var(--background-color);
    padding: 0;
}

.weather div:first-child{
    font-size: 20px;
}

.weather div:nth-child(2){
    font-size: 30px;
}

.weather div:last-child{
    font-size: 40px;
}